@model List<Prize>
@{
    ViewBag.Title = "Настройки Спинера";
}

<div class="settings-container">
    <h2>Настройки Спинера</h2>

    <label for="speedSelect">Скорость вращения:</label>
    <select id="speedSelect" name="speed">
        <option value="slow">Медленная</option>
        <option value="normal" selected>Обычная</option>
        <option value="fast">Быстрая</option>
    </select>

    <h2>Добавить приз</h2>

    <form method="post" asp-action="AddPrize">
        <input type="text" name="Name" placeholder="Введите название приза" required />
        <button type="submit">Добавить</button>
    </form>

    <hr />

    <h3>Список призов</h3>
    @if (Model.Any())
    {
        <ul>
            @foreach (var prize in Model)
            {
                <li>
                    @prize.Name 
                </li>
            }
        </ul>
    }
    else
    {
        <p>Призы ещё не добавлены.</p>
    }

    <button class="btn-spin" onclick="location.href='/Home/Index/Id?'">
         Выкрутить
    </button>
</div>
